{% extends 'mainapp/base.html' %}
{% load staticfiles %}

        {% block title %}
	     {% if request.path == current_url %}
	       {{ product.name }}
	     {% else %}  
               {{ title }}
	     {% endif %}
        {% endblock %}

        {% block logo %}
        <div class="hero-white">
        <div class="header clearfix">
	<a href="/" class="logo"></a>
        {% endblock %}

        {% block search %}
              {{ block.super }}<a href="#" class="basket"></a>
        {% endblock %}
{# Удаляю слайдер с главной #}
        {% block slider %}
        {% endblock %}

        {% block content %}
	<div class="details">
        {% include 'mainapp/inc_categories_menu.html' %}

        {% include 'mainapp/product_description.html' %}

        {% include 'mainapp/product_related.html' %}
        </div>

        <div class="clr"></div>

            <div class="category-products clearfix">
  {% for product in products %}
    <div class="block">
      <a href="{% url 'basket:add' product.pk %}">
        <img src="/media/{{ product.image }}" alt="{{ product.short_desc }}">
        <div class="text">
          <img src="{% static 'img/icon-hover.png' %}" alt="hover">
          <h4>{{ product.name }}</h4>
          <p>{{ product.description }} </p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

{% endblock %}

