{% load staticfiles %}

        <div class="details-products">
					<div class="details-slider">
					    <div class="slider-product">
                                                    <img src="/static/img/{{ product.main_image }}" alt="">
                                            </div>
                                            <div class="slider-control">
                                                {% for image in product.images %}
						<div class="block">
                                                        <a href="#"><img src="/static/img/{{ image }}" alt="">
							<div class="text"></div>
							</a>
                                                </div>
					        {% endfor %}
			                    </div>
                                        </div>
                                   
                                        <div class="description">
                                            <h3 class="big-bold">{{ product.name }}</h3>
                                            {% if product.discount %}<h3 class="red">горячее предложение</h3>{% endif %}
                                            <p class="price"> {{ product.price }}  <span>{{ product.currency }}</span></p>
                                            <a href="#" class="red-button">заказать <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                            <div class="description-text">
					        {{ product.description }}
                                            </div>
                                        </div>
					</div>
